* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

.app {
	padding: 10px;
}

.header-container {
	display: flex;
	justify-content: space-between;
	background: linear-gradient(-50deg, #deb887, #8e4815);
	padding: 10px;
	align-items: center;
}

.header-container h2 {
	font-size: 35px;
	font-weight: 700;
	color: white;
}

.header-login-container {
	display: flex;
	align-items: center;
	column-gap: 5px;
}

.mobile-login-container {
	display: none;
}

.navbar-container {
	display: flex;
	justify-content: space-evenly;
	padding: 10px 1px;
}

.navbar-container h3 {
	font-size: 15px;
	text-align: center;
	cursor: pointer;
	padding: 10px 20px;
	font-weight: 600;
}

.active-page {
	background-color: #deb887;
	color: white;
	font-weight: 700;
}

.entry-form-container,
.fields {
	display: flex;
	flex-direction: column;
}

.entry-form-container {
	row-gap: 10px;
	background-color: #deb887;
	padding: 10px;
}

.fields {
	width: 40%;
	margin: 0 auto;
}

input,
textarea {
	padding: 5px;
	outline: none;
	border: none;
	font-weight: 500;
	font-size: 15px;
	border: 1px solid transparent;
	transition: 0.2s;
}

input:focus {
	border: 1px solid deepskyblue;
}

textarea:focus {
	border: 1px solid deepskyblue;
}

.fields label {
	color: white;
}

input[type="file"] {
	color: white;
}

button {
	padding: 5px 15px;
	font-weight: 600;
	font-size: 15px;
	height: 100%;
	transition: 0.2s;
	cursor: pointer;
}

table {
	width: 100%;
}

table,
th,
td {
	border: 1px solid #deb887;
	border-collapse: collapse;
	padding: 5px;
	font-size: 15px;
	color: var(--accent1);
}

th {
	background-color: #deb887;
	color: white;
	padding: 5px;
}

tr:nth-child(even) {
	background-color: #f8f8f8;
}

audio {
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.308);
	height: 50px;
	border-radius: 50px;
}

.mobile-entry-container {
	display: none;
}

.audio-file {
	text-decoration: underline;
	cursor: pointer;
}

.review-row {
	transition: 0.1s;
}

.review-row:hover {
	background: #deb887;
	color: white;
}

.entry-form-container,
.submitted-entries-container,
.review-entries-container {
	height: 79vh;
	overflow-y: scroll;
}
.approved-entries-container {
	height: 74vh;
	position: relative;
	overflow-y: scroll;
}

.approval-container {
	display: flex;
	padding: 10px 0;
}

.download-database-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 10px;
	width: 95%;
	background-color: #efefef;
	border: 1px solid rgb(56, 56, 56);
	border-radius: 2px;
	margin: 0 auto;
}

.download-database-container a {
	color: black;
	text-decoration: none;
	padding: 7px;
	text-align: center;
	font-weight: 600;
	width: 100%;
}

.download-database-container:hover {
	background-color: #dfdfdf;
}

.approval-modal-container {
	height: 60vh;
	overflow-y: scroll;
}

@media only screen and (max-width: 600px) {
	.header-container h2 {
		font-size: 18px;
		font-weight: 700;
		color: white;
		width: 70%;
	}

	.header-login-container {
		display: none;
	}

	.login-indicator {
		display: none;
	}

	.mobile-login-container {
		display: inline;
	}

	.navbar-container {
		padding: 10px 0;
	}

	.navbar-container h3 {
		font-size: 13px;
		padding: 5px;
		text-align: center;
	}

	table {
		display: none;
	}

	.entry-form-container,
	.submitted-entries-container,
	.approved-entries-container,
	.review-entries-container {
		height: auto;
		overflow-y: auto;
	}

	.fields {
		width: 90%;
		margin: 0 auto;
	}

	.mobile-entry-container {
		display: flex;
		flex-direction: column;
		height: 72vh;
		overflow-y: scroll;
	}

	.mobile-entry {
		background-color: #deb887;
		margin: 0 5px 5px 5px;
		padding: 5px;
		cursor: pointer;
		transition: 0.1s;
	}

	.mobile-entry:hover {
		color: white;
	}

	.mobile-entry-container h3 {
		font-size: 16px;
	}

	.mobile-entry-container h3 i {
		font-size: 14px;
		font-weight: 400;
	}

	.mobile-entry-container p {
		font-size: 15px;
		margin-left: 20px;
	}
}
