.modal-container {
	position: relative;
}

.modal-container .modal-style {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #deb887;
	padding: 10px;
	z-index: 1000;
	border-radius: 5px;
	box-shadow: 2px 2px 5px black;
	border: 1px solid var(--border1);
	animation-name: popup;
	animation-duration: 0.3s;
	/* width: 90%; */
}

.modal-container .overlay-style {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.75);
	z-index: 1000;
}

.modal-header .modal-close {
	position: absolute;
	top: 5px;
	right: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-style .modal-header .modal-close .closeIcon {
	height: 28px;
	cursor: pointer;
	filter: brightness(1);
	opacity: 1;
}

.modal-container .modal-sub-text {
	text-align: center;
	padding-bottom: 8px;
	color: rgba(0, 0, 0, 0.904);
	font-weight: 600;
	font-size: 16px;
	border-bottom: 1px solid rgb(58, 58, 58);
}

.modal-container .modal-text {
	color: black;
	height: 75vh;
	overflow-y: scroll;
	padding: 10px 15px;
}

.modal-text .modal-text-title h3 {
	text-align: center;
	font-weight: 600;
	font-size: 17px;
	border-bottom: 1px solid var(--border1);
	color: var(--accent-main);
	padding-bottom: 5px;
}

.modal-text-content h3 {
	font-weight: 600;
	font-size: 16px;
	color: var(--accent-main);
}

.modal-text-content p {
	font-size: 15px;
	color: var(--accent1);
	margin: 1rem 0;
	text-align: justify;
	line-height: 1.5;
}

.modal-text-content p strong {
	font-weight: 600;
	color: var(--accent-main);
}

.modal-text-content p a {
	color: var(--accent1);
	text-decoration: underline;
}

.modal-text-content ul {
	margin-left: 20px;
}

.modal-text-content ul li {
	font-size: 13px;
	color: var(--accent1);
}

.modal-buttons {
	display: flex;
	justify-content: space-evenly;
}

.verification-container {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #deb887;
	padding: 10px 10px 0px 10px;
	z-index: 1000;
	border-radius: 5px;
	box-shadow: 2px 2px 5px black;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 270px;
	animation-name: popup;
	animation-duration: 0.3s;
}

@keyframes popup {
	0% {
		opacity: 0;
		top: 80%;
	}
	100% {
		opacity: 1;
		top: 50%;
	}
}

.verification-container-header {
	width: 90%;
	margin: 0 auto;
	position: relative;
}

.verification-container-header h3 {
	text-align: center;
	padding: 0;
	color: var(--accent2);
	font-weight: 600;
	font-size: 13px;
	width: 90%;
	margin: 0 auto;
}

.verification-container .close-icon {
	position: absolute;
	height: 28px;
	cursor: pointer;
	top: 5px;
	right: 7px;
	z-index: 11;
}

.verification-container-form {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0 auto;
	row-gap: 10px;
	margin: 10px 0;
}

.password-input {
	position: relative;
}

.password-input input {
	width: 100%;
}

.password-input .eye-icon {
	position: absolute;
	right: 10px;
	top: 6px;
	width: 20px;
}

.progress-indication {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 10px 6px;
	width: 35px;
}

.progress-indication .circle {
	height: 7px;
	width: 7px;
	border-radius: 50%;
}

.preview-entry-content {
	display: flex;
	flex-direction: column;
	width: 400px;
	margin-bottom: 15px;
}

.preview-entry-content .entry-word {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

.preview-entry-content .entry-word h2 {
	font-size: 17px;
	font-weight: 600;
	text-align: center;
}

.entry-fields,
.entry-field {
	display: flex;
	flex-direction: column;
}

.entry-fields {
	row-gap: 10px;
}

.entry-field {
	row-gap: 5px;
}

.entry-field h3 {
	font-size: 13px;
	font-weight: 600;
}

.entry-field p {
	position: relative;
	left: 20px;
	text-align: justify;
	width: 95%;
	font-size: 15px;
}

.audio-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

.bar {
	position: relative;
	border: 3px solid white;
	width: 100%;
}

.bar div {
	position: relative;
	height: 20px;
	background-color: white;
	animation: html-fill 2s forwards;
}

@media only screen and (max-width: 600px) {
	.modal-container .modal-style {
		width: 90%;
	}

	.preview-entry-content {
		width: 100%;
	}
}
